@model Departments.ViewModel.DepartmentViewModel

<li class="department-li">
<partial name="_DepartmentElement" model="@Model" />
</li>

@if (Model.SubDepartments != null && Model.SubDepartments.Any())
{
    <ul class="department-ul">
        @foreach (var subDepartment in Model.SubDepartments)
        {
            <partial name="_DepartmentPartial" model="@subDepartment" />
        }
    </ul>
}
