@model List<Departments.ViewModel.DepartmentViewModel>

<h2>Department Hierarchy</h2>
<ul class="department-ul">
    @foreach(var department in Model)
    {
        <li>
            <partial name="_DepartmentElement" model="@department" />
        </li>
    }
</ul>